html {
    background-color: #ffffff;
}

header {
    background-image: url("fond.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 5.2;
    padding: 6vw 5em;
    text-align: center;
    color: #ff0000;
}

body {
    color: #000000;
    background: linear-gradient(#ffffff, #f8c97c);
    font-family: sans-serif;
    margin: 20px;
}

.product {
    text-align: center;
    margin-bottom: 1em;
    border: 1px solid rgb(0, 0, 0);
    font-size: 30px;
}

